# streamlit
# tensorflow==2.15.0
# numpy
# pandas
# pillow
# plotly
# requests


# streamlit==1.57.0
# tensorflow==2.15.0
# numpy
# pandas
# pillow
# plotly
# requests

# streamlit
# tensorflow==2.15.0
# keras==2.15.0
# numpy
# pandas
# pillow
# plotly
# requests


# streamlit
# tensorflow==2.13.0
# keras==2.13.1
# numpy
# pandas
# pillow
# plotly
# requests
# gdown



streamlit
tensorflow
numpy
pandas
plotly
Pillow
gdown